Package: com.insomniac.ras
Name: RASBerry
Depends: mobilesubstrate, libstatusbar
Version: 0.4.0
Architecture: iphoneos-arm
Description: Right Align Statusbar like Android...and more!
Maintainer: insomniac
Author: insomniac <narcalepticinsomniac13@gmail.com>
Section: Tweaks