Package: com.insomniac.ras
Name: RASBerry
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Right Align Statusbar like Android...and more!
Maintainer: insomniac
Author: insomniac <narcalepticinsomniac13@gmail.com>
Section: Tweaks
